<div class="footer-basic container">
    <div class="social d-flex justify-content-center fs-24 mb-3">
        <a href="#" class="d-flex justify-content-center align-items-center mx-2"><i class="icon fab fa-twitter"></i></a>
        <a href="#" class="d-flex justify-content-center align-items-center mx-2"><i class="icon fab fa-linkedin"></i></a>
        <a href="#" class="d-flex justify-content-center align-items-center mx-2"><i class="icon fab fa-github"></i></a>
    </div>
    <ul class="d-flex justify-content-center p-0 fs-18 list-unstyled">
        <li class="mx-3"><a href="#">Home</a></li>
        <li class="mx-3"><a href="#">Services</a></li>
        <li class="mx-3"><a href="#">About</a></li>
        <li class="mx-3"><a href="#">Terms</a></li>
        <li class="mx-3"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="fs-13 text-muted text-center mb-0">Julian Camart © 2021</p>
</div>